* {
    font-family: "Varela Round", sans-serif;
}

.main-content {
    margin-top: 200px;
}

.settings {
    width: 35px;
    margin-top: 10px;
    margin-right: 10px;
}

.settings:hover {
    transform: rotate(60deg);
    transition: transform .3s ease;
}

.settings:not(:hover) {
    transform: rotate(-60deg);
    transition: transform .3s ease;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    font-size: smaller;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.question-mark {
    max-width: 20px;
    margin-bottom: 25px;
    margin-left: 6px;
    transition: 0.25s;
}

.question-mark:hover {
    max-width: 25px;
    margin-left: 2px;
    margin-bottom: 20px;
    transition: 0.25s;
    animation: tilt-shaking 0.5s infinite;
}

@media only screen and (max-width: 1024px) {
    .question-mark {
        display: none;
    }
}